.navbar{
    font-family: "Bebas Neue", cursive;
    font-size: 1.6rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1; 
}

nav div {
    display: flex;
    justify-content: flex-end; 
}

nav div .logo {
    font-size: 2rem;
    font-style: italic; 
}

nav div a {
    margin: 5px; 
}